<div class="container">
    <mat-card-header>
       
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Organization Name</mat-label>
            <mat-select >

                <mat-option [value]=""></mat-option>
              
    
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" type="text" [(ngModel)]="userModel.firstName" >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" type="text" [(ngModel)]="userModel.lastName" >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" type="email" [(ngModel)]="userModel.email" >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" [(ngModel)]="userModel.password">
        </mat-form-field>

        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="signUp()" >SignUp</button>
        </mat-card-actions>

    </mat-card-content>
</div>