.container{
    content: "";
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../../../../assets/background.png");
    justify-content: center;
}


.card{
    padding: 20px 20px;
    border-radius: 15px;
}
.main{
    width: 50%;
    
}

.preview-card{
    margin-bottom: 10px;
    margin-right: 20px;
    width: 40vw;
}
.preview-container{
    display: flex;
    
}
mat-card-content{
    display: flex;
    width: 100%;
    flex-direction: column;
 
}
::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: blueviolet;
        
        
    }
    mat-form-field {
        .mat-hint,
        input,
         ::placeholder,
        .mat-form-field-label {
            color: black;
        }
    }
}           
