<div class="container-fluid">
   <div class="row  flex-wrap w-100">
    <div class="col-12 col-md-6 col-xl-4" *ngFor="let quiz of allQuizzes" >
        <mat-card class="m-2">
            <mat-card-content class="d-flex flex-column">
                <div class="bg-img">
                <img mat-card-image src="../../../../../assets/background.png" alt="background">
                </div>
                <p>Organization name: {{quiz.organizationName}}</p>
                <p>Event name: {{quiz.eventName}}</p>
            </mat-card-content>
            
                <button type="button" class="btn btn-primary btn-block" [disabled]="quiz.played"  (click)="participate(quiz)">{{quiz.played ? 'Already Ended':'Participate'}}</button> <!--  -->
            
           
        </mat-card>
    </div>
    

 
   </div>
       
   

</div>

