
.bg{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../../../../assets/background.png");
    
    }
    
    .form-container
    {
        position: absolute;
        top: 15vh;
       
    }