<div class="container-fluid bg h-100">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-6 col-lg-4 position-relative">

            <mat-card class="form-container d-flex flex-column w-100 shadow p-3 mb-5 bg-white rounded ">
                <mat-card-header>
                    <mat-card-title>
                        Add team
                    </mat-card-title>
                </mat-card-header>
                    <mat-card-content class="d-flex flex-column">
                        <mat-form-field appearance="fill">
                            <mat-label>Organization Name</mat-label>
                            <mat-select [(ngModel)]="quizData.organizationName">
            
                                <mat-option [value]="quiz.organizationName" *ngFor="let quiz of totalQuizzes">{{quiz.organizationName}}</mat-option>
                              
                    
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Event Name</mat-label>
                            <mat-select [(ngModel)]=" quizData.eventName"  (selectionChange)="getquizId()">
            
                                <mat-option [value]="quiz.eventName" *ngFor="let quiz of totalQuizzes">{{quiz.eventName}}</mat-option>
                               
                    
                            </mat-select>
                        </mat-form-field>
                       
                        <mat-form-field appearance="fill">
                            <mat-label>Quiz Id</mat-label>
                            <mat-select >
            
                                <mat-option [value]="quizId">{{quizId}}</mat-option>
                                
                    
                            </mat-select>
                        </mat-form-field>
        
        
                        <mat-form-field>
                            
                            <mat-label>Team Name</mat-label>
                            <input matInput placeholder="Team Name" [(ngModel)]="team.teamName">
                        </mat-form-field>
        
                        <mat-form-field>
                            <mat-label>Team Member</mat-label>
                            <input matInput placeholder="Member" [(ngModel)]="member.firstMember">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Team Member</mat-label>
                            <input matInput placeholder="Member"  [(ngModel)]="member.secondMember">
                        </mat-form-field>
                    </mat-card-content>
                       
                                <button class="btn btn-primary btn-block"  *ngIf="!(count==maxTeams)" (click)="addTeam()">Add Team</button>
                                <button class="btn btn-primary btn-block" *ngIf="count==maxTeams" (click)="submitTeam()">Submit Team</button>
                        
            </mat-card>
        </div>
    </div>
   
</div>
