.container{
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../../../../assets/background.png");

}

.card{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 5px;
}